BODY {
  background-color: #E0E0F0;
  font-family: 'Times New Roman',Helvetica;
  text-align: justify;
}

TT {
  font-family: 'Courier New',Courier,monospace;
  font-weight: 500;
}

PRE {
  font-family: 'Courier New',Courier,monospace;
  font-weight: 500;
}

LI, DL {
  margin-bottom:1.5mm;
  margin-top:3mm;
}

DT {
  margin-top:6mm;
  font-weight: bold;
}

.implementation {
  color: #AA00AA;
  font-family: 'Courier New',Courier,monospace;
  font-weight: 500;
  margin-bottom: 0.5cm;
}

.title   {
  font-size: 200%;
  text-align: center;
  color: #000044;
  margin-bottom: 0.4cm;
  margin-top   : 0.4cm;
}

.prguide {
  color: #1100AA;
  margin-bottom: 0.5cm;
}

.description {
  margin-bottom: 0.5cm;
}

.private {
  color: #AABBAA;
}

.protected {
  color: #667777;
}

.public {
  color: #000000;
}

.comment {
  color: #FF0000;
}

.sectiontitle {
  font-weight: bold;
  text-decoration: underline;
}

.math {
  font-family: 'Arial',monospace;
  font-weight: 500;
  letter-spacing: 0px;
}

